/*
Custom theme with overrides over the default theme.css file
*/


/* Import default theme */
@import url('theme.css');


/* class decoration */
.rst-content dl:not(.docutils) dt{
    border-left:solid 3px #6ab0de;
    background:none;
    font-size: 1.2em;
    margin-bottom:0.3em}

/* method block */
.rst-content dl:not(.docutils){
    margin-bottom:0.8em;
    margin-top:0.4em}

/* method decoration */
.rst-content dl:not(.docutils) dl dt{
    border-left:solid 2px;
    border-top:solid 1px #ccc;
    background:none}

/* method description margin */
.rst-content dl p,.rst-content dl table,.rst-content dl ul,.rst-content dl ol{
    margin-bottom:0.2em !important}